<div>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Customer Register">
      <div class="content">
        <p class="title-biodata">Customer Biodata</p>
        <form class="form">
          <select name="id" class="form-select">
            <option value="salesman_ID">Salesman ID</option>
            <option value="customer_ID">Customer ID</option>
          </select>
          <input
            type="text"
            class="form-input"
            id="address"
            name="address"
            placeholder="Address"
          />
          <input
            type="text"
            class="form-input"
            id="name"
            name="name"
            placeholder="Customer Name"
          />
          <input
            type="text"
            class="form-input"
            id="address2"
            name="address2"
            placeholder="Address 2"
          />
          <input
            type="text"
            class="form-input"
            id="pic"
            name="pic"
            placeholder="Pic"
          />
          <input
            type="text"
            class="form-input"
            id="contractNo"
            name="contractNo"
            placeholder="Contract No"
          />
          <input
            type="text"
            class="form-input"
            id="city"
            name="city"
            placeholder="City"
          />
          <input
            type="text"
            class="form-input"
            id="region"
            name="region"
            placeholder="Region"
          />
          <input
            type="text"
            class="form-input"
            id="remark"
            name="remark"
            placeholder="Remark"
          />
          <input
            type="text"
            class="form-input"
            id="province"
            name="province"
            placeholder="Province"
          />
          <input
            type="text"
            class="form-input"
            id="npwp"
            name="npwp"
            placeholder="NPWP"
          />
          <input
            type="text"
            class="form-input"
            id="kuota"
            name="kuota"
            placeholder="Kuota"
          />
          <input
            type="text"
            class="form-input"
            id="customerPriceCategory"
            name="customerPriceCategory"
            placeholder="Customer Price Category"
          />
          <input
            type="text"
            class="form-input"
            id="preferedExpedition"
            name="preferedExpedition"
            placeholder="Prefered Expedition"
          />
        </form>
        <button class="icon">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Customer List">
      <div class="content">
        <p class="title-biodata">Customer List</p>
      </div></mat-tab
    >
    <mat-tab label="Customer Setting"
      ><div class="content">
        <p class="title-biodata">Customer Setting</p>
      </div></mat-tab
    >
    <mat-tab label="Customer Register Import"
      ><div class="content">
        <p class="title-biodata">Customer Register Import</p>
      </div></mat-tab
    >
  </mat-tab-group>
</div>
